<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../index.css">
</head>
<body>
        <div id="header-container">
            <img src="./../../images/logo-rentease.svg" alt="Company Logo" id="company-logo">
            <h1 id="greeting">Hello</h1>
            <nav>
                <ul>
                    <li><a href="./../../pages/home/home.html">Home</a></li>
                    <li><a href="./../../pages/flats/flats.html">All Flats</a></li>
                    <li><a href="./../../pages/addFlat/addFlat.html">New Flat</a></li>
                    <li><a href="./../profile/profile.html">Profile Update</a></li>
                </ul>
            </nav>
            <button id="logout">Log out</button>
        </div>
</body>
</script>
</html>