html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide any overflow that might cause scrolling */
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.background {
    flex: 1;
    background: url('./../../images/login_bg.svg') no-repeat;
    background-size: cover; /* Cover the whole background area */
    background-position: center;
}

.background .logo-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.background .logo-down-container{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background .logo-down-container img{
    max-width: 75%;
}

.background .logo-container .img {
    max-width: 100%;
    height: auto;
    display: block;
}

.background span {
    color: white;
    font-family: 'Broadway', sans-serif;
}

.background .logo-r{
    font-size: 300px;
    width: 230px;

}

.background .logo-name{
    font-size: 100px;
}

.background .slogan {
    color: white;
    text-align: start;
}

.form-container {
    flex: 1;
}

.welcome-text {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #404660;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin: 0 auto;
}

 .container-login {
    width: 50%;
    margin: 0 auto;
    height: auto;
 }

.form-register{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.form-register label{
    display: block;
    margin-bottom: 0.1em;
    color: #404660;  
}

.form-register input{
    width: 100%;
    display: block;
    border: 3px solid #96C6DA;
    border-radius: 15px;
    font-size: 16px;
    padding: 4px;
}

.form-register input::placeholder {
    color: #888888; /* Change to your desired color */
}

.form-register button{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #7AA3DF;
    border-radius: 15px;
    padding: 10px;
    background-color: #7AA3DF;
    color: white;
    font-size: 35px;
  }

.form-register button:hover{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #404660;
    border-radius: 15px;
    padding: 10px;
    background-color: #404660;
    color: white;
    font-size: 35px;
  }
  
.form-register span {
    display: block;
   text-align: end;
   color: #6F6C6C;
   font-size: 25px;
   font-style: italic;

  }
  a {
    color: #96C6DA;
  }
  a:hover{
    color: #6F6C6C;
  }
  .sign-up {
    margin-top: 20px;
    text-align: center;
  }

  .password-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ajusta esto al ancho deseado */
    height: 40px; /* Ajusta esto a la altura deseada */
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 10px;
}
