body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.background {
  flex: 1;
  background: url('./../../images/login_bg.svg') no-repeat;
  background-size: cover;
  background-position: center;
}

.background .logo-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.background .logo-down-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background .logo-down-container img {
  max-width: 100%;
}

.background .logo-container .img {
  max-width: 100%;
  height: auto;
  display: block;
}

.form-container {
  flex: 1;
}

.welcome-text {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  margin-bottom: 100px;
  color: #404660;

}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  margin: 0 auto;
  text-align: center;
}

.container-login {
  width: 70%;
  margin: 0 auto;
}

.form-login {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.form-login label {
  display: block;
  margin-bottom: 5px;
  color: #404660;
  font-size: 35px;
}

.form-login input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border: 3px solid #96C6DA;
  border-radius: 15px;
  font-size: 35px;
  padding: 15px;
}

.form-login input::placeholder {
  color: #888888;
}

.form-login button {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #7AA3DF;
  border-radius: 15px;
  padding: 10px;
  background-color: #7AA3DF;
  color: white;
  font-size: 35px;
}

.form-login button:hover {
  border: 1px solid #404660;
  background-color: #404660;
}

a {
  color: #96C6DA;
}

a:hover {
  color: #6F6C6C;
}

.sign-up {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

.logo-container-mobile,
.logo-down-container-mobile {
  display: none;
}

@media (min-width: 1550px) and (max-width: 1800px) {

  .welcome-text {
    margin-bottom: 40px;
  }

  .roboto-bold {
    font-size: 75px;
  }

}

@media (min-width: 1420px) and (max-width: 1549px) {
  .background .logo-container img {
    max-width: 90%;
  }

  .welcome-text {
    margin-top: 25px;
  }

  .roboto-bold {
    font-size: 70px;
  }

  .background .logo-down-container img {
    max-width: 80%;
  }
}

@media (min-width: 1280px) and (max-width: 1419px) {
  .background .logo-container img {
    max-width: 80%;
  }

  .welcome-text {
    margin-top: 25px;
  }

  .roboto-bold {
    font-size: 60px;
  }

  .background .logo-down-container img {
    max-width: 70%;
  }

}

@media (min-width: 959px) and (max-width: 1279px) {

  .background {
    display: none;
  }

  .logo-container-mobile,
  .logo-down-container-mobile {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

  .logo-container-mobile img,
  .logo-down-container-mobile img {
    max-width: 50%;
  }

  .welcome-text {
    margin-top: 5px;
    margin-bottom: 5px;

  }

  .roboto-bold {
    font-size: 30px;
  }

}

@media (min-width: 481px) and (max-width: 958px) {
  .background {
    display: none;
  }

  .logo-container-mobile,
  .logo-down-container-mobile {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

  .logo-container-mobile img,
  .logo-down-container-mobile img {
    max-width: 70%;
  }

  .welcome-text {
    margin-top: 5px;
    margin-bottom: 5px;

  }

  .roboto-bold {
    font-size: 28px;

  }
}


@media (max-width: 480px) {
  .background {
    display: none;
  }

  .logo-container-mobile,
  .logo-down-container-mobile {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

  .logo-container-mobile img {
    max-width: 100%;
  }

  .logo-down-container-mobile img {
    max-width: 100%;
  }

  .welcome-text {
    margin-top: 5px;
    margin-bottom: 5px;

  }

  .roboto-bold,
  .form-login input,
  .form-login label,
  .sign-up,
  .form-login button {
    font-size: 25px;
  }
}
