!<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="./profile.css">
</head>
<body>
    <div class="container">
        <div class="background">
            <div class="logo-container">
                <img src="./../../images/logo-rentease.svg" alt="logo" />
            </div>
            <div class="logo-down-container">
                <img src="./../../images/house-search.svg" alt="logo-image" />
            </div>
           
        </div>
        <div class="form-container">
            <div class="container-login">
                <div class="welcome-text">
                    <div class="roboto-bold">
                        EDIT PROFILE
                    </div>
    </div>
    <form class="form-profile" id="profile">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="lastname">Apellido:</label><br>
        <input type="text" id="lastname" name="lastname" required><br>
        <label for="username">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="birthdate">Fecha de nacimiento:</label><br>
        <input type="date" id="birthdate" name="birthdate" required><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Registrar">
    </form>
    <div id="message"></div>
    <script src="profile.js"></script>
</body>
</html>