#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7AA3DF;
    border-radius: 40px;
}

#company-logo {
    height: 70px;
    width: 200px;
}

#greeting {
    font-size: 30px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

li a {
    color: #333; /* Cambia esto al color que prefieras */
    font-size: 16px; /* Cambia esto al tamaño que prefieras */
    text-decoration: none; /* Esto quita el subrayado */
    font-weight: bold; /* Esto hace que el texto esté en negrita */
    margin-right: 20px; /* Esto añade espacio a la derecha de cada enlace */
}

li a:active {
    color: seagreen; /* Cambia esto al color que prefieras */
}

li a:hover {
    color: saddlebrown; /* Cambia esto al color que prefieras cuando el mouse se pasa sobre el enlace */
}

#logout {
    background-color:whitesmoke;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.flat {
    border: none;
    padding: 20px;
}

.flat img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
}

.flat h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.flat p {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.container-div {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.flat__text{
    width: 50%;
}

.flat__date{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}