table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #96C6DA;
}
   .button-add {
    padding: 15px;
    width: 5%;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    border: 1px solid #655CC9;
    background-color: #655CC9;
    margin-left: 5%;
   }
   .button-add:hover {
    font-size: 16px;
    border: 1px solid #404660;
    background-color: #404660;
   }
   
   #flats-container img{
    width: 200px;
    height: 150px;
   }
   #flats-container .button-container{
    display: flex;
    justify-content: space-evenly;
   }

   #flats-container .button-container .button-edit{
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    border: 1px solid #7AA3DF;
    background-color: #7AA3DF;
    margin-right: 5px;
   }
   #flats-container .button-container .button-edit:hover{
    padding: 8px;
    color: white;
    border: 1px solid #404660;
    background-color: #404660;
    font-size: 16px;
   }

   #flats-container .button-container .button-delete{
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    border: 1px solid #FF5F5D;
    background-color: #FF5F5D;
   }
   #flats-container .button-container .button-delete:hover{
    padding: 8px;
    color: white;
    border: 1px solid #B0403E;
    background-color: #B0403E;
    font-size: 16px;
   }

   .swal2-popup {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }