.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 80%;;
}

.flat {
    border: none;
    padding: 20px;
}

.flat img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
}

.flat h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.flat p {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.container-div {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.flat__text{
    width: 50%;
}

.flat__date{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-div {
    position: relative;
}

.heart {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #ccc; /* Color del corazón cuando no está seleccionado */
}

.heart.selected {
    color: red; /* Color del corazón cuando está seleccionado */
}
.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    margin:0 auto;
    padding-top: 10px;
}
.search-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    margin:0 auto;
    padding-top: 10px;
    color: black;
}
.search-container input,
.button-filter {
    margin: 20px 10px 0px 0px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}
.search-container input  {
    width: 30%;
    border: 1px solid #7AA3DF;
    color: black;

}
.button-filter {
    width: 10%;
    border: 1px solid #E88D67;
    background-color: #E88D67;
    color: white;
    font-size: 20px;
  }
   .button-filter:hover {
    background-color: #c27757;
    cursor: pointer;
  } 

.button-sort {
    margin-top: 20px;
    width: 15%;
    border: 1px solid #7AA3DF;
    border-radius: 15px;
    padding: 10px;
    background-color: #7AA3DF;
    color: white;
    font-size: 20px;
  }
  .buttons-container button:hover {
   cursor: pointer;
  }
  .active {
    border: 1px solid #35878B;
    background-color: #35878B;
  }
  .hide {
    display: none;

  }